body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    background-color: #7e00c2; /* Viola scuro */
    padding: 20px;
    width: auto;
    max-width: 600px;
    border: 5px solid #7e00c2;
}

.float-box {
    width: 150px;
    height: 150px;
    background-color: #c8e6c9; /* Verde chiaro */
    float: right;
    margin-left: 15px;
    border: 5px solid #7e00c2; /* Viola scuro */
    text-align: center;
    line-height: 150px;
    font-size: 20px;
    color: #7e00c2;
}

p {
    margin: 0;
    font-size: 24px;
    color: white;
    line-height: 1.5;
    display: inline-block;
}